{% extends 'base.html' %}
{% block title %}Account Settings{% endblock %}
{% block content %}
    
    <div id="alert-container" class="d-flex justify-content-center">
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="m-5 p-3">
            <div class="d-flex desktop-rows align-items-start">
                <div class="d-flex pill-alignment ml-auto">
                    <div class="nav navigation_pills nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</button>
                        {% if account_info.verified == True %}
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                            {% if user_certificates != None %}
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-certificates" type="button" role="tab" aria-controls="v-pills-certificates" aria-selected="false">Certificates</button>
                            {% endif %}
                            {% if blogUpdates != None %}
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-blogs" type="button" role="tab" aria-controls="v-pills-blogs" aria-selected="false">Blogs</button>
                            {% endif %}
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="d-flex flex-column">
                            <div class="d-flex desktop-rows account-basic-view w-100">
                                <div class="d-flex flex-column account-space mx-auto">
                                    <h6 class="h6 mb-5 text">Name: {{user_info.name}}</h6>
                                    <h6 class="h6 mb-5 text">Title: {{user_info.title}}</h6>
                                    <h6 class="h6 mb-5 text">Email: {{account_info.email}}</h6>
                                    <h6 class="h6 mb-5 text">Username: {{account_info.username}}</h6>
                                    <h6 id="bio" class="h6 mb-5 text">About You: {{user_info.bio}}</h6>
                                    <h6 class="h6 mb-5 text">Skills: {{user_info.skills}}</h6>
                                    {% if socials != None %}
                                        <h6 class="h6 mb-5 text"><div class="d-flex flex-rows align-items-center"><label>Socials: </label> 
                                            {% if socials.gitlab != None %}
                                                <a class="mx-2" href="{{socials.gitlab}}"><img src="/static/images/icons/gitlab_icon.svg" width="25px" height="25px"></a>
                                            {% endif %}
                                            {% if socials.github != '' and socials.github != None %}
                                                {% if 'theme' in session %}
                                                    <a class="mx-2" href="{{socials.github}}" ><img id="githubIcon" src="/static/images/icons/gitHub_{{session['theme']}}.png" width="25px" height="25px"></a>
                                                {% else %}
                                                    <a class="mx-2" href="{{socials.github}}" ><img id="githubIcon" src="/static/images/icons/gitHub_light.png" width="25px" height="25px"></a>
                                                {% endif %}
                                            {% endif %}
                                            {% if socials.facebook != '' and socials.facebook != None %}
                                                <a class="mx-2" href="{{socials.facebook}}"><img src="/static/images/icons/facebook.svg" width="25px" height="25px"></a>
                                            {% endif %}
                                            {% if socials.instagram != '' and socials.instagram != None %}
                                                <a class="mx-2" href="{{socials.instagram}}"><img src="/static/images/icons/Instagram_logo.svg" width="25px" height="25px"></a>
                                            {% endif %}
                                            {% if socials.linkedin != '' and socials.linkedin != None %}
                                                <a class="mx-2" href="{{socials.linkedin}}"><img src="/static/images/icons/linkedin.svg" width="25px" height="25px"></a>
                                            {% endif %}
                                            {% if socials.twitter != '' and socials.twitter != None %}
                                                <a class="mx-2" href="{{socials.twitter}}"><img src="/static/images/icons/twitter.svg" width="25px" height="25px"></a>
                                            {% endif %}
                                            </div>
                                        </h6>
                                    {% endif %}
                                    {% if account_info.verified == False %}
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex flex-column">
                                                <div class="alert alert-danger d-flex justify-content-center align-items-center" style="width: fit-content;" role="alert">
                                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                    <div class="d-flex justify-content-center" style="width: fit-content;">
                                                        You'll need to verify your account before editing your profile info.
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <button id="verif
                                                    btn" class="btn btn-outline-info" style="width: fit-content;" onclick=send_verification()>Verify Account</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-column account-picture-display account-space align-items-center" >
                                    <div id="new_cover_display" class="d-flex justify-content-center flex-column cover-display w-100" style="background-image: url(/static/user_upload/covers/{{user_info.cover}});">
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex flex-column mt-5">
                                                <img class="pfp" id="dp" src="/static/user_upload/avatar/{{user_info.dp}}" style="margin-top: 75%;">
                                                {% if account_info.verified == True %}
                                                    <button type="button" class="btn btn-outline-info m-3" data-bs-toggle="modal" data-bs-target="#pfp_change">
                                                        Change pictures
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if account_info.verified == True %}
                                        <div id="pfp_change" aria-hidden="true" tabindex="-1" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Change pictures</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <div class="d-flex flex-column">
                                                                <div class="d-flex flex-rows justify-content-around">
                                                                    <label class="text w-100">Change profile picture: </label>
                                                                    <input class="form-control" type="file" name="profile_picture" id="profile_picture" accept="image/png, image/gif, image/jpeg">
                                                                </div>
                                                                <div class="d-flex flex-rows justify-content-around">
                                                                    <label class="text w-100">Change cover picture: </label>
                                                                    <input class="form-control" type="file" name="cover_picture" id="cover_picture" accept="image/png, image/gif, image/jpeg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-outline-primary" onclick=validate_picture_change() data-bs-dismiss="modal">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% if account_info.verified == True %}
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="d-flex bd-highlight justify-content-center account-space-2">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="table-text message-table-long" style="text-align: center;" scope="col">Message</th>
                                        <th class="table-text message-table-short" style="text-align: center;" scope="col">Author</th>
                                        <th class="table-text message-table-short" style="text-align: center;" scope="col">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for message in user_message %}
                                        <tr>
                                            <th class="table-text" scope="row">{{message.content}}</th>
                                            <td class="table-text" style="text-align: center;">{{message.author}}</td>
                                            <td class="table-text" style="text-align: center;">{{message.time_sent}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if user_certificates != None %}
                        <div class="tab-pane fade " id="v-pills-certificates" role="tabpanel" aria-labelledby="v-pills-certificates-tab">
                            <div class="d-flex flex-column account-space-2">
                                <div class="d-flex flex-row justify-content-around mx-4">
                                    <div class="d-flex flex-column w-100">
                                        {% for certs in user_certificates %}
                                            <div class="d-flex flex-row justify-content-between my-2">
                                                <div class="d-flex text justify-content-center mx-4 px-4" style="text-align: center;">{{certs.name.capitalize()}}</div>
                                                <div class="d-flex flex-row">
                                                    <a href="/static/user_upload/certificates/{{certs.file_name}}"  target="_blank" rel="noopener noreferrer" class="d-flex btn btn-outline-success justify-content-center" style="text-align: center;">View</a>
                                                    <a href="/api/v2/delcert/{{certs.file_name}}" class="d-flex btn btn-outline-danger justify-content-center mx-4">Delete</a>
                                                </div>
                                            </div>
                                        {% endfor %}    
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if blogUpdates != None %}
                        <div class="tab-pane fade " id="v-pills-blogs" role="tabpanel" aria-labelledby="v-pills-blogs-tab">
                            <div class="d-flex flex-column account-space-2">
                                <div class="d-flex flex-row justify-content-around mx-4">
                                    <div class="d-flex flex-column w-100">
                                        {% for blog in blogUpdates %}
                                            <div class="d-flex flex-row justify-content-between my-2">
                                                <div class="d-flex text justify-content-center mx-4" style="text-align: center;">{{blog.name.capitalize()}}</div>
                                                <div class="d-flex flex-row">
                                                    <a href="{{blog.url}}"  target="_blank" rel="noopener noreferrer" class="d-flex btn btn-outline-success justify-content-center" style="text-align: center;">View</a>
                                                    <a href="/api/v2/delBlog/{{blog.blogid}}" class="d-flex btn btn-outline-danger justify-content-center mx-4">Delete</a>
                                                </div>
                                            </div>
                                        {% endfor %}    
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="d-flex flex-column w-100 account-space-2">
                            <div class="d-flex flex-row justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Update personal information: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-info ms-5" data-bs-toggle="modal" data-bs-target="#info_update">Update</button>
                                </div>
                                <div id="info_update" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="InfoLable">Update personal information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">Full Name : </label>
                                                            <input class="form-control" type="text" name="FullName" id="fullName" placeholder="Full Name" value="{{user_info.name}}" required>
                                                        </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">Country : </label>
                                                            <select class="form-control" id="CountryName" aria-label="Default select example">
                                                                {% if user_info.country == None %}
                                                                    <option selected>Select Country</option>
                                                                {% else %}
                                                                    <option value="{{user_info.country}}" selected>{{user_info.country}}</option>
                                                                {% endif %}
                                                                <option value="Afghanistan">Afghanistan</option>
                                                                <option value="Åland Islands">Åland Islands</option>
                                                                <option value="Albania">Albania</option>
                                                                <option value="Algeria">Algeria</option>
                                                                <option value="American Samoa">American Samoa</option>
                                                                <option value="Andorra">Andorra</option>
                                                                <option value="Angola">Angola</option>
                                                                <option value="Anguilla">Anguilla</option>
                                                                <option value="Antarctica">Antarctica</option>
                                                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Armenia">Armenia</option>
                                                                <option value="Aruba">Aruba</option>
                                                                <option value="Australia">Australia</option>
                                                                <option value="Austria">Austria</option>
                                                                <option value="Azerbaijan">Azerbaijan</option>
                                                                <option value="Bahamas">Bahamas</option>
                                                                <option value="Bahrain">Bahrain</option>
                                                                <option value="Bangladesh">Bangladesh</option>
                                                                <option value="Barbados">Barbados</option>
                                                                <option value="Belarus">Belarus</option>
                                                                <option value="Belgium">Belgium</option>
                                                                <option value="Belize">Belize</option>
                                                                <option value="Benin">Benin</option>
                                                                <option value="Bermuda">Bermuda</option>
                                                                <option value="Bhutan">Bhutan</option>
                                                                <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                                                                <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                                                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                                <option value="Botswana">Botswana</option>
                                                                <option value="Bouvet Island">Bouvet Island</option>
                                                                <option value="Brazil">Brazil</option>
                                                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                                <option value="Bulgaria">Bulgaria</option>
                                                                <option value="Burkina Faso">Burkina Faso</option>
                                                                <option value="Burundi">Burundi</option>
                                                                <option value="Cambodia">Cambodia</option>
                                                                <option value="Cameroon">Cameroon</option>
                                                                <option value="Canada">Canada</option>
                                                                <option value="Cape Verde">Cape Verde</option>
                                                                <option value="Cayman Islands">Cayman Islands</option>
                                                                <option value="Central African Republic">Central African Republic</option>
                                                                <option value="Chad">Chad</option>
                                                                <option value="Chile">Chile</option>
                                                                <option value="China">China</option>
                                                                <option value="Christmas Island">Christmas Island</option>
                                                                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                                                <option value="Colombia">Colombia</option>
                                                                <option value="Comoros">Comoros</option>
                                                                <option value="Congo">Congo</option>
                                                                <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                                                                <option value="Cook Islands">Cook Islands</option>
                                                                <option value="Costa Rica">Costa Rica</option>
                                                                <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                                                <option value="Croatia">Croatia</option>
                                                                <option value="Cuba">Cuba</option>
                                                                <option value="Curaçao">Curaçao</option>
                                                                <option value="Cyprus">Cyprus</option>
                                                                <option value="Czech Republic">Czech Republic</option>
                                                                <option value="Denmark">Denmark</option>
                                                                <option value="Djibouti">Djibouti</option>
                                                                <option value="Dominica">Dominica</option>
                                                                <option value="Dominican Republic">Dominican Republic</option>
                                                                <option value="Ecuador">Ecuador</option>
                                                                <option value="Egypt">Egypt</option>
                                                                <option value="El Salvador">El Salvador</option>
                                                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                                <option value="Eritrea">Eritrea</option>
                                                                <option value="Estonia">Estonia</option>
                                                                <option value="Ethiopia">Ethiopia</option>
                                                                <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                                                <option value="Faroe Islands">Faroe Islands</option>
                                                                <option value="Fiji">Fiji</option>
                                                                <option value="Finland">Finland</option>
                                                                <option value="France">France</option>
                                                                <option value="French Guiana">French Guiana</option>
                                                                <option value="French Polynesia">French Polynesia</option>
                                                                <option value="French Southern Territories">French Southern Territories</option>
                                                                <option value="Gabon">Gabon</option>
                                                                <option value="Gambia">Gambia</option>
                                                                <option value="Georgia">Georgia</option>
                                                                <option value="Germany">Germany</option>
                                                                <option value="Ghana">Ghana</option>
                                                                <option value="Gibraltar">Gibraltar</option>
                                                                <option value="Greece">Greece</option>
                                                                <option value="Greenland">Greenland</option>
                                                                <option value="Grenada">Grenada</option>
                                                                <option value="Guadeloupe">Guadeloupe</option>
                                                                <option value="Guam">Guam</option>
                                                                <option value="Guatemala">Guatemala</option>
                                                                <option value="Guernsey">Guernsey</option>
                                                                <option value="Guinea">Guinea</option>
                                                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                                <option value="Guyana">Guyana</option>
                                                                <option value="Haiti">Haiti</option>
                                                                <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                                                                <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                                                <option value="Honduras">Honduras</option>
                                                                <option value="Hong Kong">Hong Kong</option>
                                                                <option value="Hungary">Hungary</option>
                                                                <option value="Iceland">Iceland</option>
                                                                <option value="India">India</option>
                                                                <option value="Indonesia">Indonesia</option>
                                                                <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                                                <option value="Iraq">Iraq</option>
                                                                <option value="Ireland">Ireland</option>
                                                                <option value="Isle of Man">Isle of Man</option>
                                                                <option value="Israel">Israel</option>
                                                                <option value="Italy">Italy</option>
                                                                <option value="Jamaica">Jamaica</option>
                                                                <option value="Japan">Japan</option>
                                                                <option value="Jersey">Jersey</option>
                                                                <option value="Jordan">Jordan</option>
                                                                <option value="Kazakhstan">Kazakhstan</option>
                                                                <option value="Kenya">Kenya</option>
                                                                <option value="Kiribati">Kiribati</option>
                                                                <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                                                <option value="Korea, Republic of">Korea, Republic of</option>
                                                                <option value="Kuwait">Kuwait</option>
                                                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                                <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                                                <option value="Latvia">Latvia</option>
                                                                <option value="Lebanon">Lebanon</option>
                                                                <option value="Lesotho">Lesotho</option>
                                                                <option value="Liberia">Liberia</option>
                                                                <option value="Libya">Libya</option>
                                                                <option value="Liechtenstein">Liechtenstein</option>
                                                                <option value="Lithuania">Lithuania</option>
                                                                <option value="Luxembourg">Luxembourg</option>
                                                                <option value="Macao">Macao</option>
                                                                <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                                                                <option value="Madagascar">Madagascar</option>
                                                                <option value="Malawi">Malawi</option>
                                                                <option value="Malaysia">Malaysia</option>
                                                                <option value="Maldives">Maldives</option>
                                                                <option value="Mali">Mali</option>
                                                                <option value="Malta">Malta</option>
                                                                <option value="Marshall Islands">Marshall Islands</option>
                                                                <option value="Martinique">Martinique</option>
                                                                <option value="Mauritania">Mauritania</option>
                                                                <option value="Mauritius">Mauritius</option>
                                                                <option value="Mayotte">Mayotte</option>
                                                                <option value="Mexico">Mexico</option>
                                                                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                                                <option value="Moldova, Republic of">Moldova, Republic of</option>
                                                                <option value="Monaco">Monaco</option>
                                                                <option value="Mongolia">Mongolia</option>
                                                                <option value="Montenegro">Montenegro</option>
                                                                <option value="Montserrat">Montserrat</option>
                                                                <option value="Morocco">Morocco</option>
                                                                <option value="Mozambique">Mozambique</option>
                                                                <option value="Myanmar">Myanmar</option>
                                                                <option value="Namibia">Namibia</option>
                                                                <option value="Nauru">Nauru</option>
                                                                <option value="Nepal">Nepal</option>
                                                                <option value="Netherlands">Netherlands</option>
                                                                <option value="New Caledonia">New Caledonia</option>
                                                                <option value="New Zealand">New Zealand</option>
                                                                <option value="Nicaragua">Nicaragua</option>
                                                                <option value="Niger">Niger</option>
                                                                <option value="Nigeria">Nigeria</option>
                                                                <option value="Niue">Niue</option>
                                                                <option value="Norfolk Island">Norfolk Island</option>
                                                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                                                <option value="Norway">Norway</option>
                                                                <option value="Oman">Oman</option>
                                                                <option value="Pakistan">Pakistan</option>
                                                                <option value="Palau">Palau</option>
                                                                <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                                                <option value="Panama">Panama</option>
                                                                <option value="Papua New Guinea">Papua New Guinea</option>
                                                                <option value="Paraguay">Paraguay</option>
                                                                <option value="Peru">Peru</option>
                                                                <option value="Philippines">Philippines</option>
                                                                <option value="Pitcairn">Pitcairn</option>
                                                                <option value="Poland">Poland</option>
                                                                <option value="Portugal">Portugal</option>
                                                                <option value="Puerto Rico">Puerto Rico</option>
                                                                <option value="Qatar">Qatar</option>
                                                                <option value="Réunion">Réunion</option>
                                                                <option value="Romania">Romania</option>
                                                                <option value="Russian Federation">Russian Federation</option>
                                                                <option value="Rwanda">Rwanda</option>
                                                                <option value="Saint Barthélemy">Saint Barthélemy</option>
                                                                <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                                                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                                <option value="Saint Lucia">Saint Lucia</option>
                                                                <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                                                                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                                                <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                                                <option value="Samoa">Samoa</option>
                                                                <option value="San Marino">San Marino</option>
                                                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                                <option value="Saudi Arabia">Saudi Arabia</option>
                                                                <option value="Senegal">Senegal</option>
                                                                <option value="Serbia">Serbia</option>
                                                                <option value="Seychelles">Seychelles</option>
                                                                <option value="Sierra Leone">Sierra Leone</option>
                                                                <option value="Singapore">Singapore</option>
                                                                <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                                                                <option value="Slovakia">Slovakia</option>
                                                                <option value="Slovenia">Slovenia</option>
                                                                <option value="Solomon Islands">Solomon Islands</option>
                                                                <option value="Somalia">Somalia</option>
                                                                <option value="South Africa">South Africa</option>
                                                                <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                                                                <option value="South Sudan">South Sudan</option>
                                                                <option value="Spain">Spain</option>
                                                                <option value="Sri Lanka">Sri Lanka</option>
                                                                <option value="Sudan">Sudan</option>
                                                                <option value="Suriname">Suriname</option>
                                                                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                                <option value="Swaziland">Swaziland</option>
                                                                <option value="Sweden">Sweden</option>
                                                                <option value="Switzerland">Switzerland</option>
                                                                <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                                                <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                                                <option value="Tajikistan">Tajikistan</option>
                                                                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                                                <option value="Thailand">Thailand</option>
                                                                <option value="Timor-Leste">Timor-Leste</option>
                                                                <option value="Togo">Togo</option>
                                                                <option value="Tokelau">Tokelau</option>
                                                                <option value="Tonga">Tonga</option>
                                                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                                <option value="Tunisia">Tunisia</option>
                                                                <option value="Turkey">Turkey</option>
                                                                <option value="Turkmenistan">Turkmenistan</option>
                                                                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                                                <option value="Tuvalu">Tuvalu</option>
                                                                <option value="Uganda">Uganda</option>
                                                                <option value="Ukraine">Ukraine</option>
                                                                <option value="United Arab Emirates">United Arab Emirates</option>
                                                                <option value="United Kingdom">United Kingdom</option>
                                                                <option value="United States">United States</option>
                                                                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                                                <option value="Uruguay">Uruguay</option>
                                                                <option value="Uzbekistan">Uzbekistan</option>
                                                                <option value="Vanuatu">Vanuatu</option>
                                                                <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                                                                <option value="Viet Nam">Viet Nam</option>
                                                                <option value="Virgin Islands, British">Virgin Islands, British</option>
                                                                <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                                                <option value="Wallis and Futuna">Wallis and Futuna</option>
                                                                <option value="Western Sahara">Western Sahara</option>
                                                                <option value="Yemen">Yemen</option>
                                                                <option value="Zambia">Zambia</option>
                                                                <option value="Zimbabwe">Zimbabwe</option>
                                          
                                                            </select>
                                                        </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">State : </label>
                                                            {% if user_info.state != None%}
                                                                <input class="form-control" type="text" name="State" id="StateName" placeholder="State Name" value="{{user_info.state}}" required>
                                                            {% else %}
                                                                <input class="form-control" type="text" name="State" id="StateName" placeholder="State Name" value="" required>
                                                            {% endif %}
                                                            </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">City : </label>
                                                            {% if user_info.city != None%}
                                                                <input class="form-control" type="text" name="city" id="CityName"  placeholder="City Name" value="{{user_info.city}}" required>
                                                            {% else %}
                                                                <input class="form-control" type="text" name="city" id="CityName"  placeholder="City Name" value="" required>
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">About You : </label>
                                                            {% if user_info.bio != None %}
                                                                <textarea class="form-control" rows = "5" cols = "60" name="bio" id="bioUpdate" placeholder="Enter about yourself">{{user_info.bio}}</textarea>
                                                            {% else %}
                                                                <textarea class="form-control" rows = "5" cols = "55" name="bio" id="bioUpdate" placeholder="Enter about yourself"></textarea>
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">Skills : </label>
                                                            {% if user_info.skills != None %}
                                                                <input class="form-control" type="text" name="skills" id="skills_input" value="{{user_info.skills}}" placeholder="Enter your skills , use ',' to seprate" required>
                                                            {% else %}
                                                                <input class="form-control" type="text" name="skills" id="skills_input" value="" placeholder="Enter your skills , use ',' to seprate" required>
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex flex-rows my-3 justify-content-around">
                                                            <label class="text w-100 align-self-center">Title : </label>
                                                            {% if user_info.title != None %}
                                                                <input class="form-control" type="text" name="title" id="title_input" value="{{user_info.title}}" placeholder="Enter your skills , use ',' to seprate" required>
                                                            {% else %}
                                                                <input class="form-control" type="text" name="title" id="title_input" value="" placeholder="Enter your title , use ',' to seprate" required>
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex my-3 justify-content-center">
                                                            <div id="UserUpdateAlert" class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-outline-primary" onclick=data_update() >Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between my-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Upload Certificate: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-info ms-5" data-bs-toggle="modal" data-bs-target="#certificate_upload">Update</button>
                                </div>
                                <div id="certificate_upload" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Upload Certificate</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">Upload Certificate: </label>
                                                            <input class="form-control" type="file" name="CertFile" id="CertFile" accept="type/pdf">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">Name of certificate: </label>
                                                            <input class="form-control" type="text" name="CertName" id="CertName" placeholder="Name of Certificate">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">About the certificate: </label>
                                                            <input class="form-control" type="text" name="CertBio" id="CertBio" placeholder="About of Certificate">
                                                        </div>
                                                        <div class="d-flex my-3 justify-content-center">
                                                            <div id="CertificateUpdateAlert" class="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-outline-primary" onclick=certificate_upload()>Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between my-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Update Blogs: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-info ms-5" data-bs-toggle="modal" data-bs-target="#BlogUpdate">Update</button>
                                </div>
                                <div id="BlogUpdate" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Upload Blog</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">Name of Blog: </label>
                                                            <input class="form-control" type="text" name="BlogName" id="BlogName" placeholder="Name of Blog">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">About the Blog: </label>
                                                            <input class="form-control" type="text" name="BlogBio" id="BlogBio" placeholder="About of Blog">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">URL to Blog: </label>
                                                            <input class="form-control" type="text" name="BlogURL" id="BlogURL" placeholder="URL to Blog">
                                                        </div>
                                                        <div class="d-flex my-3 justify-content-center">
                                                            <div id="BlogUpdateAlert" class="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-outline-primary" onclick=blog_update() >Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between my-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Update Socials: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-info ms-5" data-bs-toggle="modal" data-bs-target="#SocialsUpdate">Update</button>
                                </div>
                                <div id="SocialsUpdate" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Update Socials</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="/api/v1/account/" method="POST">
                                                <div class="modal-body">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <input type="hidden" name="action" value="socialUpdate">
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Gitlab: </label>
                                                                <input class="form-control" type="text" name="Gitlab" id="Gitlab" placeholder="Gitlab URL">
                                                            </div>
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Github: </label>
                                                                <input class="form-control" type="text" name="Github" id="Github" placeholder="Github URL">
                                                            </div>
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Twitter: </label>
                                                                <input class="form-control" type="text" name="Twitter" id="Twitter" placeholder="Twitter URL">
                                                            </div>
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Facebook: </label>
                                                                <input class="form-control" type="text" name="Facebook" id="Facebook" placeholder="Facebook URL">
                                                            </div>
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Linkedin: </label>
                                                                <input class="form-control" type="text" name="Linkedin" id="Linkedin" placeholder="Linkedin URL">
                                                            </div>
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Instagram: </label>
                                                                <input class="form-control" type="text" name="Instagram" id="Instagram" placeholder="Instagram URL">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between my-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Update Password: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-info ms-5" data-bs-toggle="modal" data-bs-target="#UpdatePassword">Update</button>
                                </div>
                                <div id="UpdatePassword" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">Old Password: </label>
                                                            <input class="form-control" type="password" name="OldPassword" id="OldPassword" placeholder="Old Password">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">New Password: </label>
                                                            <input class="form-control" type="password" name="NewPassword" id="NewPassword" placeholder="New Password">
                                                        </div>
                                                        <div class="d-flex flex-rows justify-content-around my-3">
                                                            <label class="text w-100">Confirm new Password: </label>
                                                            <input class="form-control" type="password" name="CnfNewPassword" id="CnfNewPassword" placeholder="Confirm New Password">
                                                        </div>
                                                        <div class="d-flex my-3 justify-content-center">
                                                            <div id="PasswordUpdateAlert" class="">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-outline-primary" onclick=UpdatePassword()>Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between my-3">
                                <div class="d-flex align-items-center">
                                    <label class="text h6">Delete Account: </label>
                                </div>
                                <div class="justify-content-end">
                                    <button class="btn btn-outline-danger ms-5" data-bs-target="#DeleteAccount" data-bs-toggle="modal">Delete</button>
                                </div>
                                <div id="DeleteAccount" aria-hidden="true" tabindex="-1" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form action="/api/v1/account/" method="POST">
                                                <div class="modal-body">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <input type="hidden" name="action" value="DelAccount">
                                                            <div class="d-flex flex-rows justify-content-around my-3">
                                                                <label class="text w-100">Confirm Password: </label>
                                                                <input class="form-control" type="password" name="CnfPassword" id="CnfPassword" placeholder="Confirm Password" required>
                                                            </div>                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-danger">Delete Account</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}