{% extends 'base.html' %}
{% block title %}Accout Help{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h2 class="display-5 d-flex bg-success text-white align-items-start" id="title">Account help</h2> 
</div>
<div class="wrapper">
  <div class="nav d-flex">
    <div class="flex-column" id="nav-desktop">
      <nav class="nav flex-column w-100" id="nav">
        <a class="nav-link active" href="#sign_up">Sign up</a>
        <a class="nav-link " href="#sign_in">Sign in</a>
        <a class="nav-link " href="#acc_verify">Account verification</a>
        <a class="nav-link " href="#Account">Account Management</a>
        <a class="nav-link " href="#certi/blogs">Certificates and Blogs</a>
      </nav>
    </div>
    <div class="accordion-color">
      <div class="accordion-item accordian-color" id="nav-mobile">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button accordian-head-color border-bottom collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
            id="nav-button">
            <h1 id="nav-title">Account Help</h1>
          </button>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body text">
              <div class="d-flex flex-column">
                <nav class="nav flex-column" id="nav">
                  <a class="nav-link active" href="#m_sign_up" onclick="myFunction(1)">Sign up</a>
                  <a class="nav-link" href="#m_sign_in" onclick="myFunction(2)">Sign in</a>
                  <a class="nav-link" href="#m_acc_verify" onclick="myFunction(3)">Account verification</a>
                  <a class="nav-link" href="#m_account" onclick="myFunction(3)">Account Management</a>
                  <a class="nav-link" href="#m_certi/blogs" onclick="myFunction(3)">Certificates and Blogs</a>
                </nav>
                <script>
                  function myFunction(idElement) {
                    const nav_items = document.getElementById("nav-title");
                    const nav_area = document.getElementById("nav-button")
                    nav_area.className = "accordion-button accordian-head-color border-bottom collapsed"
                    document.getElementById("collapseOne").className = "accordion-collapse collapsing"
                    document.getElementById("collapseOne").className = "accordion-collapse collapse"
                  }
                </script>  
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex flex-column">
        <div class="faq align-items-center">
          <hr id="m_sign_up">
          <h1 id="sign_up">Sign up</h1>
          <h3>How do I create a Knowme account?</h3>
          <p>
            <ol style="text-decoration: none;">
              <li> Click on <a class="acc_help" style="text-decoration: none;" href="/register/">Sign up</a> button in above Navbar</li> 
              <li> Start filling the form </li>
              <ul>
                <li>Full name</li>
                <li>Unique username(Remember your username should not have '@' or any 'spaces' in it) </li>
                <li>Email address</li>
                <li>A strong password with atleast 8 alphanumeric characters </li>
              </ul>
              <li> Click on Submit and your Knowme account is created</li>
            </ol>
          </p>
          <hr id="m_sign_in">
          <h1 id="sign_in">Sign in</h1>
          <h3>How I do Sign in to my Knowme account?</h3>
          <p>
            <ol>
              <li>Click on <a class="acc_help" style="text-decoration: none;" href="/login/">Sign in </a>button in above Navbar</li>
              <li>Enter the username or email address associated with your account</li>
              <li>Enter your password</li>
              <li>Click on Submit and you should be logged in</li>
            </ol>
          </p>
          <hr id="m_acc_verify">
          <h1 id="acc_verify">Email verification</h1>
          <h3>How do I verify my Email?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on 'Verify Account' button</li>
              <li>Check your mail associated with your account to know to further steps</li>
            </ol>
          </p>
          <hr id="m_account">
          <h1 id="Account">Account Management</h1>
          <h3>How do I Change my profile picture and cover picture ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Change pictures</b> on the right side of screen</li>
              <li>Choose files and do <b>Save Changes</b>, your pictures are updated</li>
            </ol>
          </p>
          <h3>How do I Change my password ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Settings</b> on the left side of screen</li>
              <li>Click on <b>Update</b> in front of <b>Update Password</b> to update/upload your Password</li>
              <li>Fill all the requirements and do <b>Save Changes</b> to change your password</li>
            </ol>
          </p>
          <h3>How do I update my personal information ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Settings</b> on the left side of screen</li>
              <li>Click on <b>Update</b> in front of <b>Update personal information</b> to update/upload your personal information</li>
              <li>Fill all the requirements and do <b>Save Changes</b> ,now your personal information should be updated</li>
            </ol>
          </p>
          <h3>How do I upload my certificates and update my blog ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Settings</b> on the left side of screen</li>
              <li>Click on <b>Update</b> in front of <b>Upload Certificate/Update Blogs</b> to update/upload your certificates or blogs</li>
              <li>Fill all the requirements and do <b>Save Changes</b> ,now your personal information should be updated</li>
            </ol>
          </p>
          <h3>How do I update my socials ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Settings</b> on the left side of screen</li>
              <li>Click on <b>Update</b> in front of <b>Update Socials</b> to update/upload your socials</li>
              <li>Fill all the requirements and do <b>Save Changes</b> ,now your Socials should be updated</li>
            </ol>
          </p>
          <h3>How do I permanently delete my account ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Settings</b> on the left side of screen</li>
              <li>Click on <b>Delete</b> in front of <b>Delete Account</b> to permanently your account</li>
              <li>Confirm your password and press <b>Delete</b></li>
            </ol>
          </p>
          <hr id="m_certi/blogs">
          <h1 id="certi/blogs">Certificates and Blogs</h1>
          <h3>How do I manage my Certificates and Blogs ?</h3>
          <p>
            <ol>
              <li>Click on Account dropdown button in above Navbar</li>
              <li>Go to the  <a class="acc_help" style="text-decoration: none;" href="/account/">Settings</a> in that dropdown</li>
              <li>Click on <b>Certificates</b> or <b>Blogs</b> button on the left side of screen</li>
              <li>Press <b>View</b> to open your Certificate and press <b>Delete</b> to remove your Certificate</li>
            </ol>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}