<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.rtl.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.rtl.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.rtl.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.rtl.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-utilities.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-utilities.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-utilities.rtl.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-utilities.rtl.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap.rtl.css">
        <link rel="stylesheet" href="/static/style/bootstrap/bootstrap.rtl.min.css">
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/style/main.css">
        {% if 'theme' in session %}
            <link rel="stylesheet" id="theme_css" aria-label="{{session['theme']}}" type="text/css" href="/static/style/{{session['theme']}}.css">
        {% else %}
            <link rel="stylesheet" id="theme_css" aria-label="light" type="text/css" href="/static/style/light.css">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Micro+5&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&family=Micro+5&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Micro+5&family=Truculenta:opsz,wght@12..72,500&display=swap" rel="stylesheet">
        <script src="/static/javascript/main.js"></script>
        <style>
            .parallax {
      
        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        </style>
    </head>
    <body class="truculenta-500">
        <nav class="navbar navbar-expand-lg navbar-color">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand navbar-nav mr-auto micro-5-regular" style="font-size: 40px !important;" href="/">Know Me</a> 
                <button class="navbar-toggler" onclick=dropdown_icon() type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span id="navbar-button-span" aria-label="collapsed" class="nav-button-css navbar-toggler-icon-custom"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">   
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Support
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" style="text-align: center;" href="/faq/">FAQs</a></li>
                                <li><a class="dropdown-item" style="text-align: center;" href="/help/">Account help</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" style="text-align: center;" href="https://discord.gg/h5HxxBV5EJ">Discord</a></li>
                            </ul>
                        </li>
                        {% if 'user' in session %}
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Account
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="text-align: center;" href="/account/">Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" style="text-align: center;" href="/view/{{session['user']}}/">Preview</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" style="text-align: center;" href="/logout/">Logout</a></li>
                                </ul>
                            </li>
                            
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/login/">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/register/">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar-nav mr-auto d-flex mt-3 flex-row align-self-center">
                    <form class="d-flex" action="/search/" method="GET">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="d-flex align-self-start">
                        {% if 'theme' in session %}
                            <button class="btn" onclick=theme_changer()><img id="theme_logo" aria-label="{{session['theme']}}" src="/static/images/icons/{{session['theme']}}_mode.svg" width="25px" height="25px"></button>
                        {% else %}
                            <button class="btn" onclick=theme_changer()><img id="theme_logo" aria-label="light" src="/static/images/icons/light_mode.svg" width="25px" height="25px"></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text">© 2024 Company, Inc</p>
          
                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <h2 class="h2 display-5 footer-logo micro-5-regular">Know Me</h2>
                </a>
          
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text">Home</a></li>
                <li class="nav-item"><a href="/faq/" class="nav-link px-2 text">FAQs</a></li>
                <li class="nav-item"><a href="/help/" class="nav-link px-2 text">Help</a></li>
              </ul>
            </footer>
          </div>
          <!-- <script src="/static/javascript/bootstrap/bootstrap.bundle.js"></script>
          <script src="/static/javascript/bootstrap/bootstrap.bundle.min.js"></script>
          <script src="/static/javascript/bootstrap/bootstrap.esm.js"></script>
          <script src="/static/javascript/bootstrap/bootstrap.esm.min.js"></script>
          <script src="/static/javascript/bootstrap/bootstrap.js"></script>
          <script src="/static/javascript/bootstrap/bootstrap.min.js"></script> -->
          <!-- <script src="/static/javascript/bootstrap/5.1.min.js"></script>
          <script src="/static/javascript/bootstrap/5.1.bundle.js"></script> -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous" onload=first_visit()></script>
        </body>
</html>
