{% extends 'base.html' %}
{% block title %}FAQs{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h2 class="display-5 d-flex bg-success text-white align-items-start" id="title">FAQs</h2> 
</div>
<div class="wrapper">
  <div class="nav d-flex">
    <div class="flex-column" id="nav-desktop">
      <nav class="nav flex-column w-100" id="nav">
        <a class="nav-link active" href="#user">User</a>
        <a class="nav-link " href="#dm">Direct Messages</a>
        <a class="nav-link " href="#about">About Know Me</a>
      </nav>
    </div>
    <div class="accordion-color">
      <div class="accordion-item accordian-color" id="nav-mobile">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button accordian-head-color border-bottom collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
            id="nav-button">
            <h1 id="nav-title">FAQs</h1>
          </button>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body text">
              <div class="d-flex flex-column">
                <nav class="nav flex-column" id="nav">
                  <a class="nav-link active" href="#m_user" onclick="myFunction(1)">User</a>
                  <a class="nav-link" href="#m_dm" onclick="myFunction(3)">Direct Messages</a>
                  <a class="nav-link" href="#m_about" onclick="myFunction(3)">About Know me</a>
                </nav>
                <script>
                  function myFunction(idElement) {
                    const nav_items = document.getElementById("nav-title");
                    const nav_area = document.getElementById("nav-button")
                    nav_area.className = "accordion-button accordian-head-color border-bottom collapsed"
                    document.getElementById("collapseOne").className = "accordion-collapse collapsing"
                    document.getElementById("collapseOne").className = "accordion-collapse collapse"
                  }
                </script>  
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex flex-column">
        <div class="faq align-items-center">
          <hr id="m_user">
          <h1 id="user">User</h1>
          <h3>How to customize your view?</h3>
          <p>
            Choose your preferred theme color by clicking on Sun/Moon button in top right corner
          </p>
          <h3>Who reads my updates?</h3>
          <p>
            Your certificates and blogs will be public,anyone who runs a search for your account may be able to see your details.
          </p>
        </p>
        <h3>Can I edit my Blogs/Certificates?</h3>
        <p>
          No, you can’t edit a Blogs/Certificates once you have posted it
        </p>
        <h3>Why can't I see all my Certificates? Are they lost?</h3>
        <p>
          You can View your Certificates,read <a class="acc_help" style="text-decoration: none;" href="/help/#certi/blogs">Certificates and Blogs</a> for more info</li>
        </p>
        <hr id="m_dm">
        <h1 id="dm">Direct Messages</h1>
        <h3>How do i direct message to someone ?</h3>
        <p>
          This feature is coming soon. 
        </p>
          <hr id="m_about">
          <h1 id="about">About Know me</h1>
          <h3>How do I create a Knowme account?</h3>
          <p>
            Know Me is an open-source platform to showcase yourself, display your work, your achievements and your skills with ease. 
          </p>
          <h3>Do I need anything special to use it?</h3>
          <p>
            All you need to use Know me is an internet connection or a mobile phone. Join us here! Once you're in,
            <br> 
            begin finding and following accounts. We'll recommend great accounts once you're signed up.
          </p>
          <h3>How does KnowMe works?</h3>
          <p>
            Well the methods to use KnowMe are simple 
            <ol>
              <li>just create an account</li>
              <li>verify it</li>
              <li>upload your achievements</li>
              <li>link your socials and they'll be displayed on your preview page.</li>
            </ol>
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}