{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="d-flex justify-content-center flex-column">
    <div class="d-flex desktop-rows justify-content-around my-5">        
        <div class="d-flex flex-column my-5 justify-content-center w-100">
            <div class="d-flex description m-3 flex-column" style="text-align: center;">
                <div class="d-flex w-100">
                    <h1 class="w-100 micro-5-regular" style="font-size: 64px;">KnowMe</h1>
                </div>
                <div class="d-flex w-100">
                    <h2 class="w-100 truculenta-500">Your digital portfolio, at your ease.</h2>
                </div>
            </div>
            <div class="buttons d-flex justify-content-around">
                <div class="d-flex flex-rows">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="site-socials p-2 m-2" id="insta">Instagram</a>
                    <a href="https://discord.gg/" target="_blank" rel="noopener noreferrer" class="site-socials p-2 m-2" id="discord">Discord</a>
                    <a href="https://gitlab.com/Kingslayer47/knowme" target="_blank" rel="noopener noreferrer" class="site-socials p-2 m-2" id="git">GitLab</a>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex justify-content-center">
                <img src="/static/user_upload/covers/original.png" style="object-fit:contain; width: 75%;">
            </div>
        </div>
    </div>

    <div style="min-height: 150px;"></div>
    <div class="mid-section">
        <div class="d-flex flex-column">
            <div class="d-flex desktop-rows-reverse">
                <div class="flex-shrink-1 mx-5 px-1">
                    <div class="justify-content-center align-items-start flex-shrink-1">
                        <h3 class="h3 text-fonts ">KnowMe is an open-source platform to showcase yourself, display your work, your achievements and your skills with ease.</h3>
                    </div>
                </div>
                <div class="flex-shrink-0 mx-5">
                    <div class="d-flex desktop-rows h-100">
                        <div class="d-flex">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3 class="h3 display-3">What is KnowMe ?</h3>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div style="min-height: 250px;"></div>
            <div class="d-flex desktop-rows">
                <div class="flex-shrink-0 mx-5">
                    <div class="d-flex flex-rows h-100">
                        <div class="d-flex">
                            <div class="d-flex justify-content-center align-items-center">
                                <h3 class="h3 display-3">How does KnowMe works?</h3>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="flex-shrink-1 mx-5 px-1">
                    <div class="justify-content-center align-items-start flex-shrink-1">
                        <h3 class="h3 text-fonts ">Well the methods to use KnowMe are simple , just create an account , verify it , upload your achievements ,link your socials and they'll be displayed on your preview page.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}