{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div>
        <div class="d-flex justify-content-center">
            <div id="message_alert" class="" role="alert">
            
            </div>
        </div>
    </div>
    <div class="d-flex desktop-rows w-100 justify-content-evenly h-75">
        <div class="d-flex flex-column align-items-center justify-content-center align-self-center">
            <div class="d-flex">
                <h1 class="madimi-one-regular" style="font-size: 64px;">Sign In</h1>
            </div>
            <div class="d-flex">
                <p class="madimi-one-regular" style="text-align: center;">Welcome back, here to update your achievements?</p>
            </div>
        </div>
        <div class="d-flex flex-column  align-items-center justify-content-center align-self-center">
            <div class="d-flex justify-content-center m-1 flex-row w-100">
                <input id="username" class="input-text form-control" type="text" placeholder="Email or Username">
            </div>
            <div class="d-flex justify-content-center m-1 w-100">
                <input id="password" class="input-text form-control" type="password" placeholder="Password">
            </div>
            <div class="d-flex justify-content-center m-1 w-100">
                <button class="btn btn-success w-75" onclick="sign_in_validation()">Submit</button>
            </div>
        </div>
    </div>
    <!-- <div id="SignIn" class="d-flex h-75 align-items-center justify-content-center">
        <div class="m-5 p-1">
            <div class="d-flex justify-content-center">
                <h1 class="f-text">Sign In</h1>
            </div>
            <div class="d-flex justify-content-center">
                <input id="username" class="input-text form-control" type="text" placeholder="Email or Username">
            </div>
            <div class="d-flex justify-content-center">
                <input id="password" class="input-text form-control" type="password" placeholder="Password">
            </div>
            <div class="d-flex justify-content-center m-1">
                <button class="btn btn-success " onclick="sign_in_validation()">Submit</button>
            </div>
        </div>
    </div> -->
{% endblock content %}