{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}

<div class="">
    <div>
        <div class="d-flex justify-content-center">
            <div id="message_alert" class="" role="alert">

            </div>
        </div>
    </div>
    <div class="d-flex desktop-rows w-100 justify-content-evenly h-75">
        <div class="d-flex flex-column align-items-center justify-content-center align-self-center">
            <div class="d-flex">
                <h1 class="madimi-one-regular" style="font-size: 64px;">Sign Up</h1>
            </div>
            <div class="d-flex">
                <p class="madimi-one-regular" style="text-align: center;">Showcase yourself to the world, claim what you have worked for.</p>
            </div>
        </div>
        <div class="d-flex flex-column  align-items-center justify-content-center align-self-center">
            <div class="d-flex justify-content-center m-1 flex-row w-100">
                <input type="text" class="input-text form-control" name="name" id="name" placeholder="Full name" required>
                <input type="text" class="input-text form-control" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="d-flex justify-content-center m-1 w-100">
                <input type="email" class="input-text form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="d-flex justify-content-center m-1 w-100">
                <input type="password" class="input-text form-control" name="password" id="password" placeholder="Password" required>
                <input type="password" class="input-text form-control" name="cnfpassword" id="cnfpassword" placeholder="Confirm Password" required>
            </div>
            <div class="d-flex justify-content-center m-1 w-100">
                <button class="btn btn-success w-75" onclick="sign_up_validation()">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}