{% extends 'base.html' %}
{% block title %}Search : {{query}}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center h-100 w-100 my-5">
    <div class="d-flex justify-content-center h-75 w-75 my-5 border">
            {% if results != None %}
            <div class="d-flex flex-column flex-nowrap mb-auto">
                {% for user in results %}
                    <div class="d-flex desktop-rows justify-content-center mt-3">
                        <img class="align-self-center mx-5" width="90px" height="90px" src="/static/user_upload/avatar/default_avatar.png">
                        <div class="d-flex justify-content-center flex-column" >
                            <div class="d-flex justify-content-center">
                                <h6 class="h6 display-6">{{user.name}}</h6>
                            </div>
                            <div class="d-flex justify-content-center">
                                <blockquote>{{user.title}}</blockquote>
                            </div>
                            <div class="d-flex justify-content-center">
                                <blockquote>Username : {{user.username}}</blockquote>
                            </div>
                        </div>
                        <a href="/view/{{user.username}}/" class="btn btn-outline-info d-flex align-self-center mx-5" >View Profile</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="d-flex flex-column flex-nowrap m-auto">
                    <div class="d-flex">
                        <h1 class="d-flex h1 display-1">No users found.</h1>
                    </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}