{% extends 'base.html' %}
{% block title %}{{user_info.name}}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center flex-column">
    <div class="d-flex parallax w-100 h-50" style="background-image: url(/static/user_upload/covers/{{user_info.cover}});">
        <div class="d-flex pfp_position">
            <div class="d-flex pfp_content">                
                <img class="pfp" src="/static/user_upload/avatar/{{user_info.dp}}">
                <div class="d-flex flex-column flex-fill">
                    <h1 class="h1 profile-text">{{user_info.name}}</h1> 
                    <h5 class="h5 profile-text mt-2 ms-1">{{user_info.title}}</h5>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="d-flex justify-content-center flex-column">
    <div class="card">
        <div class="display-3 ms-3">
            About Me:
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{user_info.bio}}</p>
            </blockquote>
        </div>
    </div>
    <div class="d-flex info-cards">
        <div class="card m-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Skills.</h5>
                <p class="card-text">Some areas that I excel at.</p>
            </div>
            <div>
                {% if user_info.skills != None %}
                    <ul class="list-group list-group-flush">
                    {% for skill in skill_set %}
                        <li class="list-group-item">{{skill}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h6 class="h6">None</h6>
                {% endif %}

            </div>
        </div>
        <div class="card m-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Socials.</h5>
                <p class="card-text">Know about me more at.</p>
            </div>
            <div>
                {% if socials != None %}
                    <ul class="list-group list-group-flush">
                        {% if socials.gitlab != None %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.gitlab}}"><img src="/static/images/icons/gitlab_icon.svg" width="25px" height="25px"> Gitlab</a></li>
                        {% endif %}
                        {% if socials.github != None %}
                            {% if 'theme' in session %}
                                <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.github}}" ><img id="githubIcon" src="/static/images/icons/gitHub_{{session['theme']}}.png" width="25px" height="25px"> Github</a></li>
                            {% else %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.github}}" ><img id="githubIcon" src="/static/images/icons/gitHub_light.png" width="25px" height="25px"> Github</a></li>
                            {% endif %}
                        {% endif %}        
                        {% if socials.facebook != None %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.facebook}}"><img src="/static/images/icons/facebook.svg" width="25px" height="25px"> Facebook</a></li>
                        {% endif %}
                        {% if socials.instagram != None %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.instagram}}"><img src="/static/images/icons/Instagram_logo.svg" width="25px" height="25px"> Instagram</a></li>
                        {% endif %}
                        {% if socials.linkedin != None %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.linkedin}}"><img src="/static/images/icons/linkedin.svg" width="25px" height="25px"> Linkedin</a></li>
                        {% endif %}
                        {% if socials.twitter != None %}
                            <li class="list-group-item"><a class="mx-2 nav-link" target="_blank" rel="noopener noreferrer" href="{{socials.twitter}}"><img src="/static/images/icons/twitter.svg" width="25px" height="25px"> Twitter</a></li>
                        {% endif %}
                    </ul>
                {% else %}
                    <h6 class="h6">None</h6>
                {% endif %}
                
            </div>
        </div>
    </div>
    <div class="d-flex certificates">
        <h1 class="h1 display-1 h-center mt-5">Certifications</h1>
        <div class="d-flex certificate-display">
            {% if user_certificates != None %}
                {% for certificates in user_certificates %}
                    <div class="card mt-2 mb-2">
                        <div class="card-body" style="min-width: 300px; max-width: 540px;">
                            <h5 class="card-title">Certificate of {{certificates.name.capitalize().lstrip('Certificate of ')}}</h5>
                            <p class="card-text">{{certificates.about.capitalize()}}.</p>
                            <a href="/static/user_upload/certificates/{{certificates.file_name}}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-success">View Certification</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4 class="d-flex align-self-center h4 display-4 text ">User has no certifications, yet.</h4>
            {% endif %}
        </div>
    </div>
    <div class="d-flex certificates">
        <h1 class="h1 display-1 h-center mt-5 pe-4">User's Blogs</h1>
        <div class="d-flex certificate-display">
            {% if blogUpdates != None %}
                {% for blog in blogUpdates %}
                    <div class="card mb-3" style="max-width: 540px; min-width: 300px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/icons/{{blog.blogImg}}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{blog.name}}</h5>
                                    <p class="card-text">{{blog.about}}</p>
                                    <a href="{{blog.url}}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="d-flex justify-content-center">
                    <h4 class="h4 display-4">No blogs uploaded by user, yet.</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
