body{
    background-color: #181a1b;
    color: #fff;
}
.nav-link{
    color: white !important;
}
.card{
    background-color: rgb(33,37,41) !important;
    color: whitesmoke !important;
}
.list-group-item{
    background-color: rgb(33,37,41) !important;
    color: whitesmoke !important;
}
.navbar-brand{
    color: white !important;
}
.navbar-color{
    opacity: 1;
    background-color: rgb(33,37,41);
}
.navbar-toggler-icon-custom{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") !important;
}
.navbar-toggled-icon{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' transform='rotate(180 69 69)' fill='white'/></g></svg>");
}
.footer-logo{
    color: white;
}
.modal-body{
    background-color: rgb(33,37,41) !important;
    border-color: #181a1b;
}
.modal-header{
    background-color: rgb(33,37,41) !important;
    border-color: #181a1b;
}
.modal-footer{
    background-color: rgb(33,37,41) !important;
    border-color: #181a1b;
}
.modal-content{
    background-color: rgb(33,37,41) !important;
    border-color: #181a1b;
}
.form-control{
    background-color: rgb(33,37,41) !important;
    border-color: rgb(33,37,41) ;
    color: white !important;
}
.accordian-color{
    opacity: 100;
    background-color: rgb(33,37,41);
}
.accordian-head-color{
    background-color: #181a1b;
    color: #fff;        
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.acc_help{
    font-family: 'Ubuntu', sans-serif;
    color: #1dc074;
}
.faq h1{
    color: #1dc074;
}
.faq h3{
    color: #a1c0da;
}
/* 
.mid-section {
    background-color: #212223;
} */

.about-section-heading{
    color: #a1adb8;
}

.about-section{
    border-color: #778794;
    background: linear-gradient(to right, #373c40, #212427);
}

.about-info-heading{
    color: #cfd2d4;
}

.about-info-para{
    color: #abb2b8;
}
.table-text{
    color: white;
}