body{
    background-color: #fff;
    color: #181a1b;
}

.nav-link{
    color: #181a1b !important;
}
.navbar-brand{
    color: #181a1b !important;
}
.navbar-color{
    opacity: 1;
    background-color: rgb(248,249,250);
}
.navbar-toggler-icon-custom{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>") !important;
}
.navbar-toggled-icon{
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' transform='rotate(180 69 69)' fill='black'/></g></svg>");
}
.footer-logo{
    color: #181a1b ;
}
.accordian-color{
    opacity: 1;
    background-color: rgb(248,249,250);
}
.acc_help{
    font-family: 'Ubuntu', sans-serif;
    color: #198754;
}
.faq h1{
    font-family: 'Ubuntu', sans-serif;
    color: #198754;
}
.faq h3{
    font-family: 'Ubuntu', sans-serif;
    color: #637888;
}
/* .mid-section{
    background-color: rgb(236, 236, 236);
} */

.about-section-heading{
    color: #181a1b;
}

.about-section{
    border-color: #c4c4c4;
}

.about-info-heading{
    color: #181a1b;
}

.about-info-para{
    color: black;
}
.table-text{
    color: black;
}