.nav-link{
    text-decoration: none; 
}
a.nav-link:hover{
    color : rgb(255, 10, 71) !important;
}
.Flask-form-style{
    padding: 5%;
}

.input-text{
    margin: 2px;
}
.input-text::placeholder{
    text-align: center;
}
.pfp{
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    /* border-style: solid; */
    /* box-shadow: 0 0 2px whitesmoke; */
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.profile-text{
    color: whitesmoke;
}
a.socials-text{
    color: whitesmoke;
}

.nav-button-css{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.cover-display{
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3%;
    max-height: 75%;
}
#title{
    padding: 4rem;
    font-weight: bold;
    font-size: 3.3rem;
}
.wrapper{
    max-height: 7320px;
    max-width: 3840px;
    margin: 0 auto;
}
#nav{
    display: flex;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    padding-top: 3rem;
    padding-left: 6rem;
    width: 50%;
}
#nav a{
    font-weight: bold;
    padding-bottom: 1rem;
}
.faq:target {
    border: 0px;
}
.faq h1{
    margin-bottom: 1.5rem;
}
.faq h3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.faq hr{
    opacity: 1;
    color: #DEE4E7;
}
#m_user{
    opacity: 0;
}
#m_sign_up{
    opacity: 0;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
    .pfp_position{
        justify-content: center !important;
        width: 100% !important;
        margin: 2em;
    }
    .pfp_content{
        flex-direction: column !important;
        text-align: center;
    }
    .info-cards{
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .certificates{
        justify-content: center;
        flex-direction: column;
    }
    .h-center{
        text-align: center;
    }
    .certificate-display{
        justify-content: center;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 3rem !important;
    }
    .navigation_pills{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 1rem !important;
    }
    .pill-alignment{
        justify-content: space-around;
        width: 100%;
    }
    .desktop-rows{
        flex-direction: column;
    }
    .desktop-column{
        flex-direction: row;
    }
    .desktop-rows-reverse{
        flex-direction: column-reverse;
    }
    .desktop-column-reverse{
        flex-direction: row-reverse;
    }
    .account-basic-view{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .account-picture-display{
        margin-top: 3rem !important;
        padding-top: 1rem !important;
        width: 100%;
    }
    .cmt{
        margin-top: 3rem !important;
    }
    .nav-position{
        display: flex;
        flex-direction: column;
    }
    #nav-desktop{
        display: none;
    }
    .faq{
        margin: 1.5rem;
        margin-top: 3rem;
    }
    .accordion-button:focus {
        z-index: 3;
        border-color: none; 
        outline: 0; 
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        color: #0c63e4;
        background-color: inherit !important; 
        box-shadow: none;
    }
    #nav-mobile{
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        width: 100%;
    }
    #nav{
        padding: 1rem 1.25rem;;
    }
    #nav a{
        font-family: var(--bs-font-sans-serif) !important;
        font-weight: 500;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
    .pfp_position{
        align-items: flex-end !important;
        width: 100% !important;
        margin: 2em;
    }
    .pfp_content{
        flex-direction: row !important;
    }
    .info-cards{
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
    }
    .certificates{
        justify-content: space-around;
        flex-direction: row;
    }
    .certificate-display{
        justify-content: end;
        flex-direction: column;
        margin-top: 3rem !important;
        border-radius: 60% !important;
    }
    .navigation_pills{
        flex-direction: column;
        margin-right: 1rem !important;
    }
    .pill-alignment{
        justify-content: start;
    }
    .desktop-rows{
        flex-direction: row;
    }
    .desktop-column{
        flex-direction: column;
    }
    .desktop-rows-reverse{
        flex-direction: row;
    }
    .desktop-column-reverse{
        flex-direction: column;
    }
    .account-basic-view{
        justify-content: space-around;
    }
    .account-picture-display{
        margin-left: 3rem !important;
        padding-left: 1rem !important;
        width: 100%;
    }
    .nav-position{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #nav-mobile{
        /* to disable the mobile element */
        display: none; 
    }
    .faq{
        margin: 6rem;
        margin-top: 3rem;
    }
}
/* Large Desktop only */
@media (min-width: 1200px){
    .account-space{
        min-width: 500px;
    }
    .account-space-2{
        min-width: 1000px;
    }
}
#insta:hover{
    background: linear-gradient(to right, rgb(209, 25, 194), rgb(238, 132, 70)) !important;
    -webkit-text-fill-color: white;
    
}
#insta{
    background: linear-gradient(to right, rgb(209, 25, 194), rgb(238, 132, 70));
    background-clip: unset; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    border: 3px solid rgb(225,83,126);
}
#discord:hover{
    background: #5865F2 !important;
    color: white !important;
}
#discord{
    color: #5865F2;
    background: transparent; 
    border: 3.5px solid #5865F2;
}
#git:hover{
    background: linear-gradient(to right,  rgb(255, 131, 29), rgb(255, 136, 0)) !important;
    -webkit-text-fill-color: white;
}
#git{
    background-image: linear-gradient(to right, rgb(255, 131, 29), rgb(255, 136, 0)); 
    background-clip: unset; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    border: 3px solid rgb(255, 175, 25);
}
.site-socials{
    color: snow;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 21px;
    transition: all ease 0.3s;
}

.mid-section {
    margin: 20px 0px;
    padding: 10px 0px;
}

.about-section-heading{
    margin: 40px;
    letter-spacing: 3px;
    font-size: 45px;
}

.about-section {
    margin: 9px 44px 9px 44px;
    font-size: 22px;
    width: 50rem;
    border: 6px solid;
    border-radius: 47px;
}

.about-info-heading{
    padding: 20px;
    padding-top: 40px;
    letter-spacing: 4.8px;
}
.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.lobster-two-regular-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.lobster-two-bold-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.truculenta-500 {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }